@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <title></title>
</head>
<body>
    <div class="userInfo" style="display:none;">
        <p>Вы вошли как: <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
    </div>
    <div class="loginForm">
        <h3>Вход на сайт</h3>
        <label>Введите email</label><br />
        <input type="email" id="emailLogin" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" id="passwordLogin" /><br /><br />
        <input type="submit" id="submitLogin" value="Логин" />
    </div>
    <div>
        <label>Введите email</label><br />
        <input type="email" id="email" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" id="password" /><br /><br />
        <label>Подтвердите пароль</label><br />
        <input type="password" id="confirmpassword" /><br /><br />
        <input type="submit" id="submit" value="Регистрация" />
    </div>
       
    <div id="createTransaction"></div>  
        <h1> New transaction </h1><br />
        <label>Choose the recipient</label><br /><div id="txtPeopleID"></div>
        <input type="text" id="recepient" /><br /><br />
        <label>Amount of transaction</label><br />
        <input type="number" id="amount" /><br />        
        <input type="submit" id="confirmTransaction" value="Create" />
    <br /><br />

   <div id="transactionList"> </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/Scripts/app/app.jsx"></script>
        <script type="text/javascript">
            $(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var data = {
                        Email: $('#email').val(),
                        Password: $('#password').val(),
                        ConfirmPassword: $('#confirmpassword').val()
                    };

                    console.log("asdfasd", data);

                    $.ajax({
                        type: 'POST',
                        url: '/api/Account/Register',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        success: function (data) {
                            alert("Регистрация пройдена" + data)
                        },
                        fail: function (data) {
                            alert("В процесе регистрации возникла ошибка" + data)
                        }
                    });
                });

                $('#confirmTransaction').click(function (e) {
                    e.preventDefault();
                    var data = {
                        RecepientID: $('#txtPeopleID').val(),
                        Amount: $('#amount').val()
                    };

                    console.log("new transaction", data);

                    $.ajax({
                        type: 'POST',
                        url: '/api/Transaction',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        success: function (data) {
                            alert("Transaction successfully created!")
                        },
                        fail: function (data) {
                            alert("Creating a transaction failed" + data)
                        }
                    });
                });
            });
            $(function () {
                //...........................

                var tokenKey = "tokenInfo";
                $('#submitLogin').click(function (e) {
                    e.preventDefault();
                    var loginData = {
                        grant_type: 'password',
                        username: $('#emailLogin').val(),
                        password: $('#passwordLogin').val()
                    };

                    console.log("log", loginData);

                    $.ajax({
                        type: 'POST',
                        url: '/Token',
                        data: loginData
                    }).success(function (data) {
                        $('.userName').text(data.userName);
                        $('.userInfo').css('display', 'block');
                        $('.loginForm').css('display', 'none');
                        // сохраняем в хранилище sessionStorage токен доступа
                        sessionStorage.setItem(tokenKey, data.access_token);
                        console.log(data.access_token);
                    }).fail(function (data) {
                        alert('При логине возникла ошибка');
                    });
                });

                $('#logOut').click(function (e) {
                    e.preventDefault();
                    sessionStorage.removeItem(tokenKey);

                    $('.userInfo').css('display', 'none');
                    $('.loginForm').css('display', 'block');
                    $('#emailLogin').val('');
                    $('#passwordLogin').val('');
                });
            });

            $('#getpeople').click(function (e) {
                var tokenKey = "tokenInfo";
                $.ajax({
                    type: 'Get',
                    url: '/api/people',
                    beforeSend: function (xhr) {
                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                }).success(function (data) {

                    alert('При Get people all good');
                    console.log('Get people good!');
                }).fail(function (data) {
                    alert('При Get people возникла ошибка');
                    console.log('Get people bad!');
                });
            });
            

            $("#recepient").autocomplete({
                source: "/api/people",
                search: function (event) {
                    $("#txtPeopleID").val('');
                },
                select: function (event, ui) {
                    $("#txtPeopleID").val(ui.item.id);
                }
            }); 
            

    </script>

        
</body>
</html>
